services:
   consul:
    image: consul:1.15
    container_name: consul
    hostname: consul
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    environment:
      - CONSUL_BIND_INTERFACE=eth0
    command: agent -server -ui -node=server-1 -bootstrap-expect=1 -client=0.0.0.0 -bind=0.0.0.0
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "consul", "version"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s